<%- layout("/layouts/boilerplate") %>
<body>
      <div class="alert alert-danger d-flex align-items-center mt-2 col-6 offset-3 " role="alert">

        <div>
          <p><%= message %></p>
        </div>
      </div>  
</body>
