<% layout('/layouts/boilerplate') %>
<body>
    <h3 class="mt-2 mb-2">Create an account:</h3>
    <div class="col-6">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="email" class="form-label">Enter your email</label>
                <input type="text" class="form-control"  name="email" id="email" required>
                <div class="invalid-feedback">
                    Please provide email
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control"  name="username" id="username" required>
                <div class="invalid-feedback">
                    Write Username
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
                <div class="invalid-feedback">
                    Set your password
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
   
</body>